<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat List</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="stylesheet/style.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a href="#" class="brand-logo center"><i class="fas fa-cat"></i>Cat</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
            </ul>
        </div>
    </nav>
    <div class="center">
        <a href="/cuddles"><img class="responsive-img circle" src="images/cat1.gif" alt="cat1"></a>
        <a href="/cuddles"><img class="responsive-img circle" src="images/cat2.gif" alt="cat2"></a>
        <a href="/cuddles"><img class="responsive-img circle" src="images/cat3.gif" alt="cat3"></a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>